{
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "printWidth": 100,
    "endOfLine": "lf",
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4
}
