name: Build and push image
run-name: Build and push image - ${{ github.event.head_commit.message }}

on:
  push:
    branches: [main, dev]
    tags: ['v*.*.*']

permissions:
  contents: read
  packages: write
  actions: write

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml
  test:
    uses: ./.github/workflows/test.yaml
  test-e2e:
    uses: ./.github/workflows/test-e2e.yaml

  setup-matrix:
    needs: [lint, test, test-e2e]
    runs-on: ubuntu-latest
    outputs:
      environments: ${{ steps.get-environments.outputs.environments }}
    steps:
      - name: Determine environments
        id: get-environments
        run: |
          if [[ "${{ startsWith(github.ref, 'refs/tags/') }}" == "true" || "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "environments=[\"prod\", \"prod-compose\"]" >> $GITHUB_OUTPUT
          else
            echo "environments=[\"dev\"]" >> $GITHUB_OUTPUT
          fi

  build:
    needs: setup-matrix
    runs-on: [self-hosted, linux, ARM64]
    strategy:
      fail-fast: false
      matrix:
        environment: ${{ fromJson(needs.setup-matrix.outputs.environments) }}
      max-parallel: 2

    environment: ${{ matrix.environment }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract metadata for image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            latest=${{ matrix.environment == 'prod' && 'auto' || 'false' }}
          tags: |
            type=semver,pattern={{version}},enable=${{ matrix.environment == 'prod' }}
            type=sha,prefix=,enable=${{ matrix.environment == 'prod' }}

            type=sha,prefix=,suffix=-dev,enable=${{ matrix.environment == 'dev' }}

            type=semver,pattern={{version}}-compose,enable=${{ matrix.environment == 'prod-compose' }}
            type=sha,prefix=,suffix=-compose,enable=${{ matrix.environment == 'prod-compose' }}

            type=raw,value=${{ vars.TAG }},enable=${{ vars.TAG != '' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
          BUILDKIT_PROGRESS: plain
        with:
          context: .
          push: true
          platforms: linux/arm64
          cache-from: |
            type=gha,scope=${{ matrix.environment }}
          #  type=registry,ref=ghcr.io/${{ github.repository }}:buildcache-${{ matrix.environment }}
          cache-to: |
            type=gha,mode=max,scope=${{ matrix.environment }}
          #  type=registry,ref=ghcr.io/${{ github.repository }}:buildcache-${{ matrix.environment }},mode=max
          build-args: |
            NEXT_PUBLIC_BACKEND_URL=${{ vars.NEXT_PUBLIC_BACKEND_URL }}
            NEXT_PUBLIC_BASE_URL=${{ vars.NEXT_PUBLIC_BASE_URL }}
            NEXT_PUBLIC_DIRECTUS_URL=${{ vars.NEXT_PUBLIC_DIRECTUS_URL }}
            NEXT_PUBLIC_APP_VERSION=${{ steps.meta.outputs.version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Clean up old package versions
        uses: actions/delete-package-versions@v5
        if: matrix.environment == 'prod-compose'
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: 'container'
          min-versions-to-keep: 30
          delete-only-untagged-versions: false
